{
    "plugins": [
      ["import", {
        "libraryName": "vant",
        "libraryDirectory": "es",
        "style": true
      }]
    ],
    "env": {
      "development": {
      "plugins": [
      "dynamic-import-node"
      ]
      }
      }
  }
  